.banner {
    background: #1a1919;
}

.overlay {
    padding: 2rem;
    text-align: center;
}
.banner img {
    width: 30%;
    margin-top: 1rem;
}

.main-body {
    width: 100%;
    background: #1a1919;
    padding-bottom: 3rem;
}

.main-body h1 {
    text-align: center;
    color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: clamp(2rem, 4rem, 3rem);
    text-decoration: underline;
}

.bubble {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #d6d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.button-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.button-container .cta {
    background-color: rgba(41, 113, 247, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container .cta:hover {
    background: rgba(86, 105, 139, 0.8);
}