.banner {
    background: url('images/IMG-20251029-WA0032.jpg');
}

.main-body {
    width: 100%;
    background: #1a1919;
    padding-bottom: 3rem;
}

.main-body h1 {
    text-align: center;
    color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: clamp(2rem, 4rem, 3rem);
    text-decoration: underline;
}

.bubble {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #d6d4d4;
    box-shadow: 3px solid rgba(241, 28, 28, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.bubble img {
    width: 70px;
}

.bubble ul {
    list-style: none;
    text-align: left;
    line-height: 1.5;
}