.banner {
    background-image: url('images/construct1.jpg');
}

.overlay h1, .overlay h3 {
    text-align: center;
}

.main-body {
    width: 100%;
    background: #1a1919;
    padding-bottom: 3rem;
}

.main-body h1 {
    text-align: center;
    color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: clamp(2rem, 4rem, 3rem);
    text-decoration: underline;
}

.bubble {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #d6d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.bubble ul {
    list-style-position: inside;
    list-style: circle;
    text-align: left;
    line-height: 1.5;
    list-style-position: inside;
}